body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attend {
  text-align: center;
}

.img {
  border-radius: 50%;
  width: 200px;
}

/* Create a grid container */
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns on large screens */
  gap: 50px; /* Adjust the gap between images */
}

/* For medium screens, change to 3 columns */
@media (max-width: 768px) {
  .image-grid {
      grid-template-columns: repeat(3, 1fr);
  }
}

/* For small screens, change to 1 column */
@media (max-width: 480px) {
  .image-grid {
      grid-template-columns: repeat(1, 1fr);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}